 /* Colors: */
 $nav: #99D19F;
 $main: #9AD1A1;
 $secondary: #86876E;
 $headP: #646464;
 $border: #E6E6E6;
 $Fborder:#B7B7B7;
 $placeholder: #979797;
 $footer: #B5B4B5;
 $muted: #A8A8A8; 
 $white: #fff;
 $black: #000;
 $star: #FFD500