/*max-width*/
$s_mob : 'max-width : 575.8px';
$s_tab : 'max-width : 767.8px';
$s_med: 'max-width : 991.8px';
/*min-width*/
$e_lab : 'min-width : 991.8px';
$e_med : 'min-width : 767.8px';
$s_tab : 'max-width : 575.8px';